body{
    background-color: cornflowerblue;
}

#div_principal{
    background-color: red;
    width: 200px;
    height: 100px;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

a{
    margin: auto;
    color: black;

}